.chart {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

img {
    margin-right: 10px; /* You can adjust the value to your preference */
    margin-left: 10px; /* You can adjust the value to your preference */
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;


    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
}

.bar-row{
    display: flex;
    align-items: center; /* Vertically center align the items */
}