@import url('../../main/main.css');

.websiteTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.websiteTable th, .websiteTable td {
    padding: 10px;
    border: 1px solid var(--colorBackground);
    text-align: left;
    font-size: 14px;
}

.websiteTable th {
    background-color: var(--colorAccentBackground);
}

.addWebsiteForm {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#websiteInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--colorText);
    background-color: var(--colorAccentBackground);
}

.custombtn {
    padding: 10px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
}




