html {
    width: 750px; /* max width */
    height: 600px; /* max height */
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

:root {
    /* colors */
    /* base: EC905E */
    --colorBlue: #456D9A;
    --colorWhite: #F5F5F5FF;
    --colorLightBlue: #caddff;
    --colorLightGreen: #a3dec9;
    --colorGreen: #3E9C80;
    --colorDarkGreen: #127054;
    --colorLightRed: #FFB38A;
    --colorLightYellow: #FFD18A;
    --colorLightGrey: #f2f2f2;

    /* fonts */
    --fontHeading: "Calibri", sans-serif;
    --fontText: "Calibri Light", sans-serif;
}

.accent {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}

.navbar {
    background-color: var(--colorBlue);
}

.nav-link {
    color: var(--colorLightBlue);
    border-bottom: 1px solid var(--colorBlue);
    font-family: var(--fontHeading);
    font-size: 16px;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: var(--colorWhite);
    border-bottom: 1px solid var(--colorLightBlue);
    font-family: var(--fontHeading);
}

.navbar-brand {
    color: var(--colorLightBlue);
    border-bottom: 1px solid var(--colorBlue);
    margin-left: 20px;
    font-family: var(--fontHeading);
    font-size: 20px;
}

footer {
    background-color: var(--colorLightGreen);
    text-align: right;
    padding-right: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    padding-left: 10px;
}

h1 {
    font-size: 30px;
    padding-top: 10px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3 {
    color: var(--colorBlue);
    font-family: var(--fontHeading);
}

p {
    font-family: var(--fontText);
}

.custombtn {
    background-color: var(--colorLightGreen);
    border: 2px solid var(--colorGreen);
    padding: 8px 16px;
    color: var(--colorDarkGreen);
    font-weight: bold;
}

.custombtn:hover {
    background-color: var(--colorLightGrey);
    color: #000000;
}