
html, body {
    width: 750px; /* max width for chrome extension */
    height: 600px; /* max height for chrome extension */
    margin: 0;
    background-color: var(--colorBackground);
    color: var(--colorText);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

:root {
    /* colors */
    --colorNavbar: #456D9A;
    --colorNavbarText: #caddff;

    --colorBackground: #F5F5F5FF;
    --colorAccentBackground: #e5e4e4;

    --colorButton: #a3dec9;
    --colorButtonOutline: #3E9C80;
    --colorButtonText: #127054;

    --colorLightRed: #FFB38A;
    --colorLightYellow: #FFD18A;

    --colorText: #232323;

    /* fonts */
    --fontHeading: "Calibri", sans-serif;
    --fontText: "Calibri Light", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --colorNavbar: #8a9fc9;
        --colorNavbarText: #253a52;

        --colorBackground: #232323;
        --colorAccentBackground: #414040;

        --colorButton: #22655d;
        --colorButtonOutline: #255b49;
        --colorButtonText: #b5f3db;

        --colorText: #F5F5F5FF;
    }
}

.accent {
    background-color: var(--colorNavbar);
    color: var(--colorBackground);
}

.navbar {
    background-color: var(--colorNavbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: var(--colorNavbarText);
    font-family: var(--fontHeading);
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorNavbar);
    padding-bottom: 5px;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
    color: var(--colorBackground);
    border-bottom: 1px solid var(--colorNavbarText);
}

.navbar-brand {
    color: var(--colorNavbarText);
    font-family: var(--fontHeading);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorNavbar);
}

.navbar-brand:hover {
    color: var(--colorBackground);
    border-bottom: 1px solid var(--colorNavbarText);
}

footer {
    background-color: var(--colorButton);
    text-align: right;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    margin: 0px;
}

header {
    padding-left: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3 {
    color: var(--colorNavbar);
    font-family: var(--fontHeading);
}

p {
    font-family: var(--fontText);
    font-size: 14px;
}

.custombtn {
    background-color: var(--colorButton);
    border: 2px solid var(--colorButtonOutline);
    padding: 8px 16px;
    color: var(--colorButtonText);
    font-weight: bold;
}

.custombtn:hover {
    background-color: var(--colorAccentBackground);
    color: var(--colorText);
}