@import url('../../main/main.css');

.chart {
    display: flex;
    flex-direction: column;
    background-color: var(--colorLightGrey);
    border: 1px dashed var(--colorLightBlue);
    padding: 10px;
}

img {
    margin-right: 10px;
    margin-left: 10px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}

.bar-row{
    display: flex;
    align-items: center;
}