@import url('../../main/main.css');

#animalContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 25px;
    justify-content: center;
}

.animal-item {
    width: 100%;
    box-sizing: border-box;
}

.img-fluid {
    width: 100%;
    height: auto;
    opacity: 1; /* Reset opacity for unlocked animals */
}

.img-locked {
    opacity: 0.15;
}

